exercises/ex7/SalesOrderAEMSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="orderHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="salesOrderNumber" type="xs:string"/>
        <xs:element name="creator" type="xs:string"/>
        <xs:element name="date" type="xs:date"/>
        <xs:element name="salesType" type="xs:string"/>
        <xs:element name="ordertype" type="xs:string"/>
        <xs:element name="salesOrg" type="xs:string"/>
        <xs:element name="distributionChannel" type="xs:string"/>
        <xs:element name="division" type="xs:string"/>
        <xs:element name="netvalue" type="xs:decimal"/>
        <xs:element name="currency" type="xs:string"/>

        <xs:element name="customer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="customerId" type="xs:string"/>
              <xs:element name="customerName" type="xs:string"/>
              <xs:element name="zipCode" type="xs:string"/>
              <xs:element name="street" type="xs:string"/>
              <xs:element name="phone" type="xs:string"/>
              <xs:element name="country" type="xs:string"/>
              <xs:element name="city" type="xs:string"/>
              <xs:element name="emailAddress">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="email" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="orderItem">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" type="xs:string"/>
              <xs:element name="material" type="xs:string"/>
              <xs:element name="materialType" type="xs:string"/>
              <xs:element name="itemType" type="xs:string"/>
              <xs:element name="itemDescription" type="xs:string"/>
              <xs:element name="orderSchedule" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="scheduleNumber" type="xs:string"/>
                    <xs:element name="quantity" type="xs:decimal"/>
                    <xs:element name="uom" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
